.sidebar-link {
    padding-left: 0;
    font-size: 18px;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
  }
  
  .sidebar-link:hover,
  .sidebar-link.is-active {
    color: rgba(165, 42, 42, 0.863);
    font-weight: 600;
    width: 100%;
  }
  
  .sidebar-link:hover:nth-child(2n+1) svg:nth-child(1),
  .sidebar-link.is-active:nth-child(2n+1) svg:nth-child(1) {
    background:#cbf8e5dc;
    margin-right: 0;
    margin-top: 0px;
  
  }
  
  .sidebar-link:hover:nth-child(2n) svg:nth-child(1),
  .sidebar-link.is-active:nth-child(2n) svg:nth-child(1) {
    background: #cbf8e5dc;
    margin-right: 0;
  }
  
  .sidebar-link:hover:nth-child(2n+3) svg:nth-child(1),
  .sidebar-link.is-active:nth-child(2n+3) svg:nth-child(1) {
    background: #cbf8e5dc;
    margin-right: 0;
  }